.k-edit-form-container {
    width: 450px;
}

.k-edit-label {
    width: 120px;
}

.k-edit-field {
    float: left;
    margin-left: 20px;
    width: 60%;
}

.tooltip-cell {
    cursor: default;
    color: #787878;
}

.tooltip-cell:hover, .tooltip-cell:focus {
    color: #787878;
    text-decoration: none !important;
}

.k-input.k-textbox {
    width: 270px;
}