ul, li {
    list-style: none;
}

#helpTabs {
    border: 1px solid #6d84b4;
    border-bottom: 5px solid #6d84b4;
    margin-top: 20px;
}

#helpTabs li {
    margin: 0;
    width: 25%;
}

#helpTabs li a:first-child {
    border-left: none;
}

#helpTabs .active a {
    background: #6d84b4;
    color: #ffffff;
}

#helpTabs li a {
    border: none;
    margin: 0;
    border-left: 1px solid #6d84b4;
    border-radius: 0;
    text-align: center;
}

.tab-content {
    padding: 20px 10px;
}